# Dot files
.psci
.pulp-cache
.purs-repl
.package-lock
.psc-ide-port
.cache
*.swp
*.tix
*~
.psc-package
/.psci*
/.pulp-cache/

# Dependencies
.psci_modules
.spago
node_modules

# Generated
output
dist
*.lock
*.map
docs

# for Private
/src/.webpack.js
/test/rules.json

\#todo.org\#
firebase.json
tags




